<div class="page-header">
  <h1>Meeting #<%= @meeting.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Held on</dt>
  <dd><%= @meeting.held_on %></dd>

  <dt>Course</dt>
  <dd><%= @course.department %> <%= @course.number %> <%= @course.title %></dd>

  <dt>Students</dt>
  <% @attendance.each do |attendance| %>
  <% student = Student.find_by(:id => attendance.student_id) %>
  <dd><%= student.first_name %> <%= student.last_name %> </dd>  
  <% end %>
</dl>
