<div class="page-header">
  <h1>Course <%= @course.department %> <%= @course.number %> <%= @course.title %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Department</dt>
  <dd><%= @course.department %></dd>

  <dt>Number</dt>
  <dd><%= @course.number %></dd>

  <dt>Title</dt>
  <dd><%= @course.title %></dd>

  <dt>Meeting</dt>
  <% @meetings.each do |meeting| %>
  <dd><%= meeting.held_on %></dd>
  <% end %>


</dl>
